!!! html5
%html
  %head
    %title= Configuration.title
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{"rel" => "stylesheet", "href" => "/stylesheets/clover.css", "type" => "text/css"}
  %body
    %header.body
      %h1
        %a{:href => Configuration.root}= Configuration.title

    %section.body
      = yield

    %footer.body
      %p
        &copy;
        = Date.today.year